<!DOCTYP html>
<h4> Application </h4>
<form action="/job/{{job['id']}}/apply" method="post"">

  <div class="mb-2">
  <label>Full Name</label><br>
  <input type=text name="full name" placeholder="Trial Name">
  </div>
  
  <div class="mb-2">
  <label>Email</label><br>
  <input type=text name="email" placeholder="Trial Email">
  </div>

  <div class="mb-2">
  <label>Linkedln URL</label><br>
  <input type=text name="Linkedln URL" placeholder="https://linkdln.com/in/trial"">
  </div>

  <div class="mb-2">
  <label>Education</label><br>
  <textarea name="education"></textarea>
  </div>

  <div class="mb-2">
  <label>Work EXperience</label><br>
  <textarea name="Work EXperience"></textarea>
  </div>

  <input type="submit"
  
</form>